
<div class = "main">
<div class="post" id = "postBlock">
      <div class = "blockColor"></div>
      <img class = "kraft" src="../assets/Kraft-Paper-Texture.jpg">
      <div class = "profilePic"><img src="{{post.user.user_pic}}"></div>
      <img class = "letterBox" src="../assets/letterbox.png">
      <div class = "bottomPost">
        <div class = "createdAt">{{format_date post.created_at}}</div> 
        <div class = 'line'></div>
        <div class = "likeReply">
            {{post.likes}} likes
            <button type="button" class="upvote-btn">upvote</button>
            <a href="#submitComment" id = "{{post.id}}_{{post.user.id}}" class = 'comment'>write a comment</a>

      </div> 
    </div>
    <article class = "post">
          
          <div class = "post_items">
            <div class = "username">{{post.user.username}}</div>
            <div class = "content">{{post.title}}</div>
          </div>
    
    </article> 
          
<div id = {{post.id}} class = "" name = "theBlock">
  <div class="comments" id = "{{post.id}}_comments">
     {{#each post.comments}}
  <section class="commentUploader">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class = "smallProfilePic"><img src="{{user.user_pic}}"></div>
    <div class = "parentRealText">
      
      <div class="text">
        {{comment_text}}
      </div>
      
    </div>
  </section> 

    {{/each}}
 
  </div>
  
</div>
<div class = "footer">
  </div>
</div>

</div>
<script src="/javascript/comment.js"></script>
