
<div class = "header">
        <div class = "hub">
            <div class = "searchAndPost">
              <!-- Trigger/Open The Modal -->
              
                <button id="feelingToday">How are you feeling today?</button><br>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>
                      <form action="/action_page.php"></form>
                        <textarea name ="" id="contentForPost" placeholder ="Remember, be kind..."></textarea>
                        <button id = "whatYouWrite" type="submit">Post</button>
                      </form>
                  </div>
                </div>
                {{!<input type="text" name="" id="feelingToday" placeholder="How are you feeling today?"><br>}}
                <div class = "searcher">
                    <img src="/assets/searchIcon.png"> 
                    <input class = "inputContent" type="text" name="" id="searchFor" placeholder="Search">                
                </div>                

            </div>
            <div class="notification">
              <div class ="buttonLogo">
                <img src="/assets/home.png">
                <button>Home</button>
              </div>
              <div class ="buttonLogo">
                <img src="/assets/follow.png">
                <button>Followers</button>
              </div>
              <div class ="buttonLogo">
                <img src="/assets/logoWhite.png">
                <button>Chatters</button>
              </div>
            </div>
        </div >  
        
        </div>
      <div class = "stories">
        
      </div>
      <div class = "main">
         
<div class="post" id = "postBlock"> 
    {{#each users}}

      <div class = "blockColor"></div>
      <img class = "kraft" src="/assets/Kraft-Paper-Texture.jpg">
      <div class = "profilePic"><img src="{{user.user_pic}}"></div>
      <img class = "letterBox" src="/assets/letterbox.png">
      <div class = "bottomPost">
        <div class = "createdAt">{{format_date created_at}}</div> 
        <div class = 'line'></div>
        <div class = "likeReply">
            {{post.likes}} likes
            <button type="button" id = "b_{{id}}" class="upvote-btn">upvote</button>
            <a id = 'comment' href="/post/{{id}}">view {{comments.length}} {{format_plural "comment" comments.length}}</a>

      </div> 
    </div>
    <article class = "post">
          
          <div class = "post_items">
            <div class = "username">{{user.username}}</div>
            <div class = "content">{{title}}</div>
          </div>
    
    </article> 
<div class = "footer">
  </div>
      {{/each}}

</div>


<script src="/javascript/like.js"></script>
<script src = "/javascript/search.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/writePost.js"></script>